* {
    padding: 0;
    margin: 0;
}

#pokemons  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    padding: 40px;
   
}

#genration-selection {
    display: grid;
    gap: 40px;
    padding: 40px;
    background: rgb(19, 154, 199);
    
}

.evolution-line {
    display: grid;
    gap: 40px;
    padding:  40px;
    border: 1px solid black;
}

.pokemon-sprite {
    width: 140px;
    height: 140px;
    background-color: gray;
}

.pokemon {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 20px;
}