:root {
    --text: #282127ff;
    --cordovan: #8a383fff;
    --bg: #e9dfd2ff;
    --khaki: #c5a996ff;
    --cinereous: #837068ff;
}

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body, html {
    background: var(--bg);
}

h1, h2, h3, h4, h5, h6, body, html {
    padding: 0;
    margin: 0;
}

#pokemons  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    padding: 40px;
}

#genration-selection {
    display: grid;
    gap: 40px;
    padding: 40px;
    
}

.evolution-line {
    display: grid;
    gap: 40px;
    padding:  40px;
    border: 1px solid black;
    border-radius: 30px;
}

.pokemon-sprite {
    width: 140px;
    height: 140px;
    border: 1px solid black;
    border-radius: 6px;
    background: var(--cinereous);
}

.pokemon-sprite img {
    width: 140px;
    height: 140px;
}

.pokemon {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 20px;
}

.pokemon-name {
    font-weight: 700;
    color: var(--cordovan);
}